* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Sora", sans-serif;
}
header {
  background-color: white;
  display: flex;
  height: 104px;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
}
.header__personal {
  display: flex;
}
.header__personal p {
  margin-left: 0.3125rem;
  margin-top: 0.3125rem;
}
nav > a {
  margin-left: 3rem;
  color: black;
}
a:link {
  text-decoration: none;
}
.header__buttonnav {
  display: flex;
  padding: 1rem;
  background-color: black;
  border-radius: 4px;
}
.header__buttonnav > p {
  margin-right: 1rem;
  color: white;
}
.herosection {
    height: 716px;
}