* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: repeat(15, 100px);
  grid-template-rows: repeat(65, 100px);
}
header {
  grid-column: 2 / 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__personal > a {
  display: flex;
}
.header__personal > a > p {
  margin-top: 10px;
}
nav {
  display: flex;
  column-gap: 5rem;
}
.herosection {
  display: grid;
  grid-template-columns: repeat(13, 100px);
  grid-template-rows: repeat(8, 100px);
  grid-column: 2 / 14;
  grid-row: 2 / 9;
}
.herosection__title {
  grid-column: 1 / 7;
  grid-row: 3 / 5;
}
.herosection__article {
  grid-column: 1 / 7;
  grid-row: 5 / 7;
}
.herosection__linkmediasocial {
  grid-column: 1 / 5;
  grid-row: 7 / 8;
}
.image_ilustration_mangali {
  grid-column: 5 / 13;
  grid-row: 2 / 8;
}
.myskills {
  grid-column: 2 / 15;
  grid-row: 10 / 16;
}

.myexperience {
  grid-column: 2 / 14;
  grid-row: 17 / 25;
}
.aboutme {
  grid-column: 2 / 14;
  grid-row: 26 /33;
}
.myproject {
  grid-column: 2 / 15;
  grid-row: 33 / 50;
}
.testimonial {
  grid-column: 2 / 15;
  grid-row: 53 / 59;
}
.contactform {
  grid-column: 2 / 14;
  grid-row: 60 / 52;
}
footer {
  grid-column: 2 / 15;
  grid-row: 65 / 66;
}
