@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@theme {
    --font-sora: 'Sora', sans-serif;


    --animate-pulse: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-pulse-2: pulse 10s cubic-bezier(0.9, 0, 0.9, 1) infinite;
}